<!doctype html>
<html ng-app="scrumboardApp">
  <head>
    <title>Scrumboard</title>
    <script src="../static/bower_components/angular/angular.js"></script>
    <script src="../static/js/app.js"></script>
  </head>

  <body ng-controller="scrumboardController">
    <h1>{a title a}</h1>
    <section>
      <form ng-submit="addList()">
        Name: <input name="name" type="text" ng-model="newList.name"/>
        <input type="submit" value="Add" />
      </form>
    </section>

    <section>
      <h2>Lists</h2>
      <div class="list" ng-repeat="list in lists">
          <h3> {a list.name a} </h3>
          <button type="button" ng-click="deleteList(list)">Delete list</button>
          <ul>
            <li ng-repeat="card in list.cards">
              {a card.title a} <br>
              {a card.description a} <br>
            </li>
          </ul>
          <div class="flex">
              <input type="text" ng-model="newTitle"/>
              <button ng-click="addCard(list, newTitle)">+</button>
          </div>
      </div>
    </section>
  </body>
</html>
