<!doctype html>
<html ng-app="scrumboardApp">
  <head>
    <title>Scrumboard</title>
    <script src="../static/bower_components/angular/angular.js"></script>
    <script src="../static/js/app.js"></script>
  </head>

  <body ng-controller="scrumboardController">
    <h1>{a title a}</h1>
    <section>
      <form ng-submit="addList()">
        Name: <input name="name" type="text" ng-model="newList.name"/>
        <input type="submit" value="Add" />
      </form>
    </section>

    <section>
      <h2>Lists</h2>
      <div class="list" ng-repeat="list in lists">
          <h3> {a list.name a}
          <button type="button" ng-click="deleteList(list)">delete</button>
          </h3>
          <ul>
            <li ng-repeat="card in list.cards">
              <div class="card" ng-hide="edit" ng-click="edit=true">
                <h4> {a card.title a} </h4>
                <span class="description"> {a card.description a} </span>
              </div>

              <div class="card" ng-show="edit" 
                                ng-model-options="modelOptions">
                <div class="flex">
                  <label><strong>Title:&nbsp;</label>
                  <input type="text"
                         ng-model="card.title" 
                         ng-change="update()" />
                </div>
                <textarea ng-model="card.description"
                          ng-change="update()" 
                          placeholder="Enter description.." ></textarea>
                <button ng-click="edit=false">Close</button>
                <button ng-click="delete()">Delete</button>
              </div>
            </li>
          </ul>
          <div class="flex">
              <input type="text" ng-model="newTitle"/>
              <button ng-click="addCard(list, newTitle)">+</button>
          </div>
      </div>
    </section>
  </body>
</html>
